language: python

before_install:
 - sudo apt-get update
 - sudo apt-get install python-opencv
 - sudo dpkg -L python-opencv
install:
  - "pip install --pre -r test/requirements.txt"

python:
  - "2.7"
script:
  - bash test/runtest.sh
