<!DOCTYPE html>
<html>
  <head>
    <title>Airtest Docs {{ site.version }} - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/css/pygments.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/css/font-awesome.min.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script>
/*
    if (window.location.href.indexOf('nsq.io') == -1 && window.location.href.indexOf('127.0.0.1') == -1) {
        window.location = window.location.protocol + '//nsq.io/' + window.location.pathname.replace(/\/nsq\//, '');
    }
	*/
    </script>
    <style type="text/css">
    a code {
        color: #08c;
    }
    </style>
  </head>
  <body lang="en">
    <div class="container">
      <div class="row">
        <div class="span3 sidebar">{% include sidebar.html %}</div>
        <div class="span9">
			{{ content }}
			<div class="row">
			  <div id="disqus_thread"></div>
			</div>
		</div>
      </div>
      <div class="row">
		<div class="col-md-12">
		</div>

        <footer class="footer">
          <p class="muted built">Built: {{ site.time | date_to_rfc822 }}</p>
        </footer>
      </div>
    </div>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-55124209-3', 'auto');
	  ga('send', 'pageview');

	</script>


    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'airtest'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


  </body>
</html>
